db:
  type: sqlite
  url: comics.db
  version: 1
fetcher:
  source_url: https://xkcd.com
  parallel: 100
server:
  port: 8080
  rate_limit: 10
  delete_every: 2s
logger:
  type: json
  level: debug
search:
  stop_words_file: stopwords.txt
